@font-face {
  font-family: "Roboto", sans-serif;
  src: url("fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  margin: 0 auto;
  background-color: #4c4c4c;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #bebebe;
  height: 100%;
}

.grid {
  display: grid;
  height: 99%;
  grid-template-columns: auto max-content max-content auto minmax(200px, 380px) auto;
  grid-template-rows: 56px min-content 26px minmax(120px, 1fr);
  gap: 10px;
  grid-template-areas:
    "nav nav nav nav nav nav"
    ". player player . chat ."
    ". progress progress . volume ."
    ". users . . . .";
}

.nav {
  background-color: #5d5d5d;
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  position: relative;
  flex: 0 1 591px;
  margin: 5px;
}

.nav__search button {
  border: none;
  height: 27px;
  width: 65px;
  padding: 5px;
  background-color: #848484;
  color: #4e4e4e;
  font-weight: 700;
}

.nav__search button:hover {
  cursor: pointer;
}

.nav__search input {
  flex: 0 1 564px;
  height: 25px;
  background-color: #4c4c4c;
  color: #bebebe;
  border: none;
  outline: none;
}

.search__results {
  position: absolute;
  height: auto;
  background-color: #4c4c4c;
  width: 100%;
  top: 30px;
  left: 0;
  display: none;
  flex-direction: column;
  z-index: 1;
}

.search__results div {
  cursor: pointer;
  display: flex;
}

.search__results img {
  width: 100px;
}

.player {
  grid-area: player;
}

.chat {
  grid-area: chat;
  overflow-wrap: break-word;
  background-color: #5d5d5d;
  display: flex;
  flex-direction: column;
  position: relative;
}

.chat__status {
  background-color: #848484;
  color: #4e4e4e;
  font-size: 26px;
  font-weight: 700;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.chat__status span {
  word-wrap: anywhere;
  flex-grow: 1;
  width: auto;
}

.chat__status div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.chat__status span:focus {
  outline: none;
}

.chat__box {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 700;
  background-color: #5d5d5d;
  padding-top: 10px;
  flex-grow: 1;
  overflow-y: scroll;
  height: 100%;
}

.chat__input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.chat__input input {
  width: 100%;
  height: 25px;
  background-color: #4c4c4c;
  color: #bebebe;
  border: none;
  margin: 5px;
  outline: none;
}

.chat__settings {
  height: auto;
  position: absolute;
  right: 0;
  bottom: 40px;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: end;
  background-color: #5d5d5d;
  text-align: right;
}

.chat__settings div {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 5px;
  margin-top: 5px;
}

.chat__settings span {
  margin-right: 5px;
  margin-top: 5px;
}

.chat__settings input[type="text"] {
  width: 100%;
  height: 25px;
  background-color: #4c4c4c;
  color: #bebebe;
  border: none;
  margin-left: 5px;
  outline: none;
}

.chat__settings button {
  border: none;
  height: auto;
  width: 65px;
  padding: 5px;
  background-color: #848484;
  color: #4e4e4e;
}

.chat__settings button:hover {
  cursor: pointer;
}

.icon {
  width: 25px;
  margin-right: 5px;
  cursor: pointer;
}

.icon-small {
  width: 18px;
  margin-right: 5px;
  cursor: pointer;
}

.icon:hover,
.icon-small:hover {
  opacity: 50%;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: progress;
}

#pause-icon {
  display: none;
}

.volume {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: volume;
}

.volume__range {
  margin-right: 6px !important;
}

#volmute {
  display: none;
}

.users {
  width: 400px;
  grid-area: users;
  background-color: #5d5d5d;
  font-size: 22px;
  font-weight: 700;
  overflow-y: scroll;
}

.users div {
  cursor: pointer;
  margin-left: 5px;
}

.users .user {
  margin: 2px;
}

.message {
  margin: 2px;
  margin-left: 15px;
}

.status {
  margin: 2px;
  margin-left: 15px;
  background-color: #848484;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.hide {
  display: none;
}

.time {
  font-size: 12px;
  font-weight: 700;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #818181 #565656;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #565656;
}

*::-webkit-scrollbar-thumb {
  background-color: #818181;
  border-radius: 0px;
  border: 3px solid #ffffff;
}

input[type="range"] {
  height: 26px;
  -webkit-appearance: none;
  margin: 0 0;
  width: 100%;
  background-color: #4c4c4c;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #5d5d5d;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #848484;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #5d5d5d;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #5d5d5d;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #848484;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #5d5d5d;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #5d5d5d;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #848484;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #5d5d5d;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #5d5d5d;
}

@media screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: auto min-content min-content min-content min-content auto;
    grid-template-rows: 56px minmax(min-content, auto) 26px minmax(200px, 1fr);
    grid-template-areas:
      "nav nav nav nav nav nav"
      ". player player player player ."
      ". progress progress progress volume ."
      ". users users chat chat .";
  }

  .users {
    width: auto;
    grid-area: users;
    background-color: #5d5d5d;
    font-size: 22px;
    font-weight: 700;
  }
}
